/* Main style sheet for Nermin Kekic Blog */

main {
    display: block;
}

img {
    background-image: url('../img/Nermink.JPG')
}

/* Image classes */
.jumbotron {
    height: 500px;
}

.jumbo-image {
    background-image: url("/img/Nermink.JPG");
    background-size: cover;
}

/* Bootstrap Class modifications */