/* Main style sheet for Nermin Kekic Blog */
body {
  background-color: #fff;
}
/* Navigation */
.navbar {
  border-bottom: 1px solid grey;
}

.nav-content {
  margin-left: 20%;
  margin-right: 20%;
}
.nav-bg-color {
  background-color: #fff;
}

.navbar-brand {
  margin-right: 100px;
}

/* Set up background color when mouse is over the nav item */
.nav-item a:hover {
  background-color: gray;
}
/* Blog Post  */

.container {
}

.main-blog-section {
  margin-top: 100px;
  /* width: 50%; */
}

/* Media query */
@media (min-width: 700px) {
}
