/* Main style sheet for Nermin Kekic Blog */


/* Navigation */
.navbar {
    padding-left: 50px;
    padding-top: 4px;
    padding-bottom: 4px;

}


.bg-transparant {
    background-color: rgba(52, 58, 64, 0.61);
}


/* Image classes */
.jumbotron {
    height: 500px;
}

.jumbo-image {
    background-image: url("/img/Nermink.JPG");
    background-size: cover;
}

/* Bootstrap Class modifications */