* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Nav style starts here */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px rgb(180, 180, 182) solid;
  height: 70px;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 70%;
}

.logo {
  color: rgb(105, 101, 101);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgb(105, 101, 101);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: bold;
}

.nav-social-media {
  display: flex;
  justify-content: space-between;
  flex-basis: 5%;
}

/* Mobile style starts here */
@media (width: 769px) {
}
