* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Nav style starts here */
body {
  font-family: "Ubuntu", sans-serif;
}
nav {
  display: block;
  font-family: "Ubuntu", sans-serif;
  border-bottom: 0.05rem solid rgb(105, 101, 101);
  color: rgb(105, 101, 101);
  height: 8rem;
  width: 100%;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  padding-top: 1rem;
}

.logo {
  display: flex;
  flex-basis: 50%;
  padding-left: 1rem;
  font-weight: 700;
}

.logo a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: rgb(105, 101, 101);
  font-size: 1rem;
}

.logo i {
  margin-right: 0.6rem;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 70%;
  order: 3;
  padding-top: 2rem;
}

.nav-links li {
  list-style-type: none;
}
.nav-links li a {
  text-decoration: none;
  color: rgb(105, 101, 101);
}

.nav-social-media {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
  align-items: center;
}

.twitter-icon {
  margin-right: 1.5rem;
}
.github-icon {
  margin-right: 1rem;
}
/* Navbar styles end here */

/* Blog Content syles start here */
.blog-content {
  min-height: calc(100vh - 11rem);
}
.blog-header {
  margin-top: 2rem;
  margin-bottom: 0.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.sub-header {
  margin: 1rem 0;
}
.date {
  margin-left: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(105, 101, 101);
  margin-top: 0.5rem;
}

.blog-post {
  margin: 0 1rem;
  color: rgb(105, 101, 101);
}

/*Footer styles start here */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  color: rgb(105, 101, 101);
  height: 3rem;
}

/* Styles for Ipad size devices in portrait mode start here */

@media screen and (min-width: 768px) and (orientation: portrait) {
  .nav-links {
    flex-basis: 40%;
    padding-top: 1.8rem;
  }

  .blog-header {
    text-align: left;
  }

  .date {
    text-align: left;
  }
}
/* Styles for Ipad size devices in landscape mode start here*/
@media screen and (min-width: 1024px) and (orientation: landscape) {
  nav {
    height: 5rem;
  }
  .nav-container {
    flex-wrap: nowrap;
    margin: 0 5rem;
    padding-top: 1.4rem;
  }
  .logo {
    flex-basis: 35%;
    padding: 0 0;
    margin: 0 1rem;
  }
  .nav-links {
    flex-basis: 30%;
    order: 0;
    padding: 0 0;
    margin: 0 0;
  }

  .nav-social-media {
    flex-basis: 35%;
  }

  .blog-content {
    margin: 0 5rem;
    min-height: calc(100vh - 8rem);
  }

  .blog-header {
    text-align: left;
  }

  .date {
    text-align: left;
  }
}

/* Styles for IPad Pro size in portrait mode start here */
/* Portrait */
@media screen and (min-width: 1024px) and (orientation: portrait) {
  .nav-container {
    margin: 0 5rem;
  }

  .blog-content {
    margin: 0 5rem;
  }
}

/* Landscape */
@media screen and (min-width: 1366px) and (orientation: landscape) {
  .nav-container {
    margin: 0 10rem;
  }

  .blog-content {
    margin: 0 10rem;
  }
}
